/* red = c*/
/* blue = #041562*/
/* greyish = #EEEEEE*/

body {
  height: 1000vh;
}
.top-container {
  height: 100vh;
}

.navbar {
  background-color: transparent;
  height: auto;
  color: white;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.branding .navbar-brandy {
  color: #da1212 !important;
  font-family: "poppins";
  line-height: 0.9em;
  margin-left: 10px;
  font-weight: 800;
  list-style: none !important;
  letter-spacing: 1px;
  font-style: italic;
  padding: 0 10px !important;
}

.navbar-toggler {
  border: 0px solid white !important;
  color: black;
  padding-top: 0px !important;
  margin-right: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
}

.nav-bar-icon {
  color: white;
  font-size: 25px;
}

.container-fluid {
  padding: 0px !important;
  background-color: transparent;
}

.container-fluid img {
  width: 70px;
  height: 70px;
  margin-left: 30px;
}
.navbar-expand-lg .navbar-nav {
  padding: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 20px !important;
  width: 100% !important;
  display: flex !important;
  padding-right: 20px !important;
  justify-content: flex-end !important;
  column-gap: 30px;
}

.nav-link {
  color: white !important;
  font-size: 24px;
  text-shadow: 0.5px 0.5px 4px rgb(99, 99, 99);
  font-weight: 500;
  font-family: "rubik";
  padding: 10px 0px !important;
  transition: all 0.5s ease !important;
  display: flex;
  justify-content: center;
  align-content: center;
}

.middle-line {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #da1212;
  z-index: 100;
}

.nav-link:hover {
  transform: scale(1.1);
  color: #041562;
}

.navbar-nav .nav-item:nth-of-type(2) {
  margin-right: 40px;
}
.navbar-expand-lg .navbar-nav {
  width: 100%;
}

.landing {
  height: 800px;
  width: 100%;
  background-image: url(images/1476771333_EPT20-15EHJ.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
  backdrop-filter: overlay(0.5);
}

.landing-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.content-container {
  width: 100%;
  height: 80%;
}

.content {
  padding-top: 100px;
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.content h2 {
  font-size: 50px;
  font-family: "montserrat";
  font-weight: 700;
  color: #041562;
  margin-left: 40px;
}

.content p {
  margin: 0px;
  margin-left: 40px;
  text-transform: capitalize;
  font-size: 25px;
  font-family: "rubik";
}

.content p:nth-of-type(2) {
  text-decoration: 4px #da1212 underline;
  text-transform: capitalize;
}

.quality-container {
  width: 100%;
  margin: 0 !important;
}

.qualities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 30px !important;
  padding-left: 30px !important;
  min-height: 350px;
  padding-top: 20px !important;
  align-items: center;
  text-align: center;
}
.qualities img {
  width: 100px;
  height: 100px;
  background-color: white;
}

.knowledge {
  width: 100%;
  height: 50px;
  margin: 0px !important;
}

.custom-jacks {
  width: fit-content !important;
  margin-left: 40px !important;
  font-size: 25px !important;
  background-color: #da1212 !important;
  margin-top: 30px !important;
  margin-right: 100px !important;
}

.new-badge {
  top: 20px !important;
  right: -50px !important;
  font-weight: 500 !important;
  transform: translateY(-20px);
  background-color: gold !important;
}
