/* red = c*/
/* blue = #041562*/
/* greyish = #EEEEEE*/
* {
  box-sizing: border-box;
  margin: 0px;
}

.ConnectionDisplay.active {
  visibility: visible;
}

/*  Internet connection styling */
.ConnectionDisplay {
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0px;
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotating-circle {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(30deg, red, blue, green);
  border-radius: 50%;
}

.middlebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.middlebox h4 {
  font-size: 20px;
  font-family: "poppins";
  text-transform: lowercase;
}

.top-container {
  height: 100vh;
}

.main-nav-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  display: flex;
}

.logo {
  width: 50%;
  display: flex;
  column-gap: 10px;
  padding-left: 20px;
  align-items: center;
}

.logo h1 {
  font-size: 10px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  color: #041562;
  margin-left: 1rem;
  font-family: poppins;
  margin: 0px;
}
.logo img {
  width: 324px;
  height: 60px;
}

.navbar {
  width: 50%;
  padding: 0px !important;
  display: flex;
  z-index: 1000;
  justify-content: center;
}

.unvisible-nav {
  width: 100%;
}
.nav-container {
  display: flex;
  margin: 0px;
  width: 100%;
  column-gap: 20px;
  justify-content: flex-end;
  z-index: 1000;
  padding-right: 50px;
}

.navbar-link {
  /* color: #041562; */
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  padding: 5px 10px !important;
  transition: all 0.5s ease !important;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  position: relative;
  z-index: 1000;
  /* border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.385);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); */
}

.navbar-link:hover {
  cursor: pointer;
}

@keyframes rise {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.landing {
  height: 800px;
  width: 100%;
  background-image: url("images/1476771333_EPT20-15EHJ.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom center;
  backdrop-filter: overlay(0.5);
}

.landing-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.content-container {
  width: 100%;
  height: 100%;
}

.content {
  padding-top: 100px;
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.content h2 {
  font-size: 50px;
  font-family: "montserrat";
  font-weight: 700;
  color: white;
  margin-left: 40px;
}

.content p {
  margin: 0px;
  margin-left: 40px;
  text-transform: capitalize;
  font-size: 25px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.2em;
}

.content p:nth-of-type(2) {
  text-transform: capitalize;
}

.quality-container {
  width: 100%;
  margin: 0 !important;
}

.qualities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 30px !important;
  padding-left: 30px !important;
  min-height: 350px;
  padding-top: 20px !important;
  align-items: center;
  text-align: center;
}
.qualities img {
  width: 100px;
  height: 100px;
  background-color: white;
}

.knowledge {
  width: 100%;
  height: 50px;
  margin: 0px !important;
}

.custom-jacks {
  width: fit-content !important;
  margin-left: 40px !important;
  font-size: 25px !important;
  background-color: #da1212 !important;
  margin-top: 30px !important;
  margin-right: 100px !important;
  cursor: pointer;
  transition: all 0.5s ease;
}

.custom-jacks:hover {
  transform: scale(1.03);
}

.new-badge {
  top: 20px !important;
  right: -50px !important;
  font-weight: 500 !important;
  transform: translateY(-20px);
  background-color: gold !important;
}

/* Styling the toggle bar */
.wrong-nav {
  width: 25px;
  height: 25px;
  display: none;
}
.rotating-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-lines {
  width: 100%;
  height: 3px;
  background-color: #041562;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Toggle Bar when Clicked */
.rotating-box.active {
  position: relative;
}

.rotating-box.active .nav-lines:nth-child(1) {
  transform: rotate(-45deg);
  position: absolute;
}

.rotating-box.active .nav-lines:nth-child(2) {
  display: none;
}

.rotating-box.active .nav-lines:nth-child(3) {
  transform: rotate(45deg);
  position: absolute;
}

.form-container {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.floating-form {
  width: 400px;
  background-color: white;
  height: 570px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  border-radius: 5px;
  display: block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
}

.floating-form h2 {
  font-family: "poppins";
  font-size: 25px;
  color: #da1212;
  margin-bottom: 0px;
  font-weight: 600;
}
.mainform {
  height: 80%;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  justify-content: flex-start;
}

.mainform input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #dbdbdb;
  border: 0;
  font-family: poppins;
  font-size: 16px;
  padding-left: 10px;
}

.mainform select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: gainsboro;
  border: 0;
  font-family: poppins;
  padding: 4px;
  padding-left: 10px;
}

.mainform select:focus-visible {
  outline: 0px;
}

.mainform select:focus {
  border-bottom: 2px solid #041562;
}
.mainform select option {
  background-color: white;
}

.mainform input:focus-visible {
  border: 0;
  outline: 0;
}

.mainform textarea:focus-visible {
  border: 0;
  outline: 0;
}

.mainform textarea {
  border-radius: 3px;
  border: 0;
  padding: 10px;
  font-family: poppins;
  margin-bottom: 10px;
}

.mainform textarea:focus {
  border-bottom: 2px solid #041562;
}

.mainform input:focus {
  border-bottom: 2px solid #041562;
}
.mainform button {
  /* height: 50px; */
  border: 0;
  margin: 0px;
  border-radius: 5px;
  background-color: #041562;
  color: white;
  font-family: montserrat;
  font-size: 20px;
}

.mainform div:nth-of-type(3) input,
.mainform div:nth-of-type(2) input,
.mainform div:nth-of-type(1) input {
  height: 35px;
}

.mainform label {
  font-family: montserrat;
  font-size: 16px;
  font-weight: 500;
}

.features-container {
  padding: 10px;
  padding-left: 40px;
  width: 100%;
}

.division {
  width: 70%;
}

.features {
  width: 100%;
  display: flex;
  column-gap: 1px;
  height: 100%;
  flex-wrap: wrap;
}
.feature-boxes {
  width: 240px;
  height: 240px;
  margin-top: 1.6%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: -0 -0px 2px rgba(201, 201, 201, 0.685),
    0px 3px 2px rgba(201, 201, 201, 0.685);
  /* border: 0.2px solid #041562; */
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.feature-boxes:hover {
  transform: scale(1.04);
  z-index: 1000;
  box-shadow: 8px 0px 3px rgba(201, 201, 201, 0.685),
    -8px -0px 3px rgb(201, 201, 201, 0.685);
}

.features-container h2 {
  margin-top: 10px;
  font-family: "poppins";
  font-weight: 600;
}

.testimonial {
  width: 100%;
  display: flex;
  column-gap: 4%;
  padding: 30px;
  column-gap: 30px;
  margin-left: 10px;
}

.testi-header {
  font-family: "poppins";
  font-weight: 600;
  text-decoration: 3px #da1212 underline;
  display: block;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.divider {
  width: 150px;
  margin: 20px 40px 10px;
  background: #da1212;
  height: 6px;
}

.testi-boxes {
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.testi-boxes p {
  font-family: "poppins";
}

.writer-info {
  display: flex;
  justify-self: flex-end;
}

.writer-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.writer-details {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.writer-details h6 {
  font-family: "montserrat";
  font-weight: 600;
  margin: 0px;
}

.writer-details p {
  margin: 0px;
  font-size: 13px;
}

.issue-container {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
}

.common-issues {
  width: 100%;
  /* border: 1px solid #dbdbdb; */
}

.issues {
  padding-top: 10px;
  padding-bottom: 0px;
  width: 100%;
  border-bottom: 2px solid #dbdbdb;
}

.issues:nth-of-type(4) {
  border-bottom: 0px solid white;
}

.issues h4 {
  width: 100%;
  color: white;
  background-color: #da1212;
  font-family: "poppins";
  padding: 10px;
  padding-left: 10px;
  font-size: 22px;
  margin-bottom: 0;
}
.issues p {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  background-color: #dbdbdb;
  font-family: "poppins";
  font-weight: 500;
}

.price-container {
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  /* margin-top: 10px; */
  display: flex;
}

.service-type {
  width: 50%;
}

.service-header {
  font-size: 23px;
  font-family: "montserrat";
  font-weight: 600;
  padding: 10px 20px;
  margin: 0px;
  background-color: #da1212;
  color: white;
  border: 3px solid white;
  border-bottom: 0;
}

.price .service-header {
  border-left: 0;
}
.lists {
  width: 100%;
  background-color: #dbdbdb;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "poppins";
  margin: 0px;
  border: 3px solid white;
  border-bottom: 0px;
}

.price .lists {
  border-left: 0px;
}

.price {
  width: 50%;
}

footer {
  width: 100%;
  background-color: #da1212;
}

.Footer-container {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}

.links {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.links .weblinks {
  width: 30%;
  padding: 5%;
  padding-top: 15px;
  padding-bottom: 0px;
}

.weblinks ul {
  padding: 0px;
}

.weblinks li {
  list-style: none;
}

.weblinks li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "poppins";
}
.social-media-links {
  display: flex;
  justify-content: flex-start;
  padding-right: 0 !important;
  flex-direction: column;
  width: 100%;
  width: 30%;
  padding: 5%;
  padding-top: 15px;
  padding-bottom: 0px;
  justify-content: space-around;
}

.links .social-icons div {
  width: 100%;
}

.social-icons {
  width: 100%;
  display: flex;
  align-items: center;
}
.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.social-icons p {
  font-family: "poppins";
  font-size: 14px;
  color: white;
  margin: 0px;
}

.info {
  width: 30%;
  padding: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  padding-right: 6%;
}
.footer-logo img {
  width: 270px;
  height: 50px;
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 0px;
  font-size: 16px;
  font-family: Poppins;
  color: white;
}

@media screen and (max-width: 555px) {
  .logo h1 {
    font-size: 23px;
  }
  .logo {
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
  }
  .logo h1 {
    align-self: flex-end;
  }
  .content p {
    background-color: transparent !important;
  }
  .wrong-nav {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1450px) {
  .landing {
    height: 720px;
  }
}

@media screen and (max-width: 1250px) {
  .features {
    width: 80%;
    column-gap: 10px;
  }
  .feature-boxes {
    width: 195px;
    height: 195px;
    background-size: container;
  }
}

@media screen and (max-width: 1350px) {
  .testimonial {
    width: 90%;
    column-gap: 20px;
  }
  .issue-container {
    width: 90%;
  }
  .price-container {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .floating-form {
    visibility: hidden;
  }
  .content {
    min-width: 100% !important;
    text-align: center;
    align-items: center;
  }
  .custom-jacks {
    margin: auto;
    margin-bottom: 20px;
    width: auto;
    font-size: 20px !important;
  }
  .new-badge {
    right: -30px !important;
  }
  .division {
    width: 100%;
  }
  .features-container {
    padding: 20px;
    margin: auto;
    text-align: center;
  }
  .features {
    column-gap: 10px !important;
    width: 100%;
    justify-content: space-around;
  }
  .feature-boxes:hover {
    transform: scale(1.04);
    z-index: 1000;
    box-shadow: 8px 0px 3px rgba(201, 201, 201, 0.685),
      -8px -0px 3px rgb(201, 201, 201, 0.685);
  }
  .features-container h2 {
    text-decoration: 3px #da1212 underline;
  }
  .testi-header {
    width: 100%;
    margin-left: 0px !important;
    text-align: center;
  }
  .testimonial {
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-left: 0px;
  }
  .divider {
    margin: 30px auto;
  }
  .issue-container {
    width: 100%;
    padding-left: 15px !important;
    padding: 15px;
  }
  .common-issues {
    width: 100% !important;
    margin-right: 0px !important;
  }
  .price-container {
    width: 100%;
    padding: 15px;
  }
  .links .weblinks {
    padding: 20px;
    padding-bottom: 0;
  }
  .social-media-links {
    padding-left: 20px;
    justify-content: flex-start !important;
  }
  .social-icons {
    margin-bottom: 30px;
  }
  .Footer-container {
    padding-bottom: 0px;
  }
  .info {
    align-items: flex-start !important;
  }
  .info p {
    font-size: 13px !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 1175px) {
  .features {
    column-gap: 40px;
  }
  .feature-boxes {
    width: 160px;
    margin-top: 20px;
    height: 160px;
  }
}

@media screen and (max-height: 630px) {
  .form-container {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .testi-boxes {
    height: 300px;
    text-align: center;
  }
  .writer-details p {
    line-height: 1em;
  }
  .testimonial {
    justify-content: space-between;
    column-gap: 10px;
    padding-left: 25px;
    margin-left: 0px;
  }
  .testi-boxes {
    width: 48%;
  }
  .testi-header {
    margin-left: 30px;
    margin-right: 0px !important;
  }
  .issue-container {
    padding-left: 25px;
  }
  .common-issues {
    width: 90%;
  }
  .issues h4 {
    font-size: 18px;
  }
  .issues p {
    font-size: 15px;
  }
  .price-container {
    padding-left: 25px;
  }
  .service-type {
    width: 55%;
  }
  .price {
    width: 45%;
  }
  .social-media-links {
    justify-content: space-evenly;
  }
  .footer-logo img {
    width: 189px;
    height: 35px;
  }
  .info p {
    font-size: 14px;
    text-align: center;
  }
  .info {
    padding-top: 30px;
    padding-right: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1160px) {
  .logo h1 {
    font-size: 30px;
  }
  .logo img {
    width: 216px;
    height: 40px;
  }
  .navbar-link {
    font-size: 15px;
    padding: 0 !important;
  }
  .content-container {
    width: 100%;
    height: 100%;
  }
  .content {
    max-width: 60% !important;
    padding-top: 0px;
    justify-content: center;
  }
  .content h2 {
    font-size: 35px;
    margin-left: 20px;
  }
  .content p {
    font-size: 20px;
    margin-left: 20px;
  }
  .features-container {
    width: 90%;
  }
  .features {
    column-gap: 10px;
    margin-right: 0px !important;
    width: 100%;
  }
  .features-container h2 {
    font-size: 25px;
  }
  .testi-header {
    font-size: 25px;
  }
  .testimonial {
    column-gap: 10px;
  }
  .service-header {
    font-size: 17px;
  }
  .lists {
    font-size: 14px;
  }
}

@media screen and (max-height: 700px) {
  .mainform input {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .mainform select {
    font-size: 14px;
  }
  .mainform textarea {
    font-size: 16px;
  }
  .mainform input::placeholder {
    font-size: 14px;
  }
  .floating-form h2 {
    font-size: 23px;
  }
  .mainform label {
    font-size: 15px;
  }
  .floating-form {
    height: 530px;
    width: 370px;
  }
  .mainform button {
    font-size: 15px !important;
    font-family: "poppins";
    font-weight: 400;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .floating-form {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*  removing navbar when size is less */
@media screen and (max-width: 1090px) {
  .floating-form {
    width: 320px;
    height: 550px;
  }
  .floating-form h2 {
    font-size: 20px;
  }
  .floating-form label {
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (max-width: 700px) {
  .content-container {
    margin-right: 0px !important;
  }

  .content {
    padding-right: 0px !important;
  }

  .custom-jacks {
    margin: 30px 0px !important;
    align-self: center !important;
  }

  .nav-container.active {
    padding-right: 20px;
    width: 100%;
    background-color: white;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-top: 10px;
    padding: 20px;
  }

  .nav-container {
    width: 100%;
    padding-right: 20px;
  }

  .wrong-nav {
    display: block;
  }

  .nav-container.active .wrong-nav {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .navbar-link {
    display: none;
  }

  .navbar.active {
    width: 60% !important;
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: white;
  }

  .main-nav-container.sidenav {
    height: 100%;
    padding: 0px;
    width: 100% !important;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .nav-container.active .navbar-link {
    display: block;
    color: black;
    border-bottom: 2.5px solid transparent;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
  }

  .nav-container.active .navbar-link:hover,
  .nav-container.active .navbar-link:focus {
    border-bottom: 2.4px solid #da1212;
  }
  .Footer-container {
    display: block;
  }
  .links {
    width: 100%;
    flex-wrap: wrap;
  }
  .links .weblinks {
    width: 50%;
  }
  .social-media-links {
    width: 100%;
    flex-direction: row;
    justify-content: space-around !important;
    padding: 10px 20px !important;
  }
  .social-icons {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .info {
    padding-top: 0px;
    width: 100%;
    align-items: center !important;
    padding: 20px !important;
    padding-top: 0px !important;
  }
  .weblinks li {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .landing {
    height: 600px;
  }
  .content h2 {
    font-size: 2em;
  }
  .main-nav-container {
    /* display: block; */
    padding-bottom: 0px;
    position: absolute;
  }
  .navbar {
    width: 100%;
    margin-top: 10px;
  }

  .nav-lines {
    display: block;
  }
  .features-container {
    width: 95%;
    padding: 3%;
    font-size: 100%;
  }
  .feature-boxes {
    font-size: 90vw;
    width: 40%;
    height: 0.4em;
  }
  .weblinks li {
    text-align: left;
  }

  .weblinks li a {
    color: white !important;
  }
  .social-icons {
    margin-bottom: 5px;
  }
  .info p {
    text-align: center !important;
  }
}
/* }
  .logo{
    width: 100%;
  } */
/* .nav-container {
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
   }
  .navbar-link {
    font-size: 23px;
    visibility: visible;
    display: flex;
    align-items: center;
  } 
}*/

@media screen and (max-width: 555px) {
  .logo {
    padding-right: 5px;
    padding-left: 10px;
    align-items: center;
  }
  .logo img {
    width: 189px;
    height: 35px;
  }
  .logo h1 {
    align-self: flex-end;
  }
  .content p {
    background-color: transparent !important;
  }
}

@media screen and (max-width: 560px) {
  .landing {
    height: 100vh;
  }
  .nav-container {
    padding-right: 15px;

    /* padding: 10px; */
  }
  .content h2 {
    font-size: 28px;
  }
  .content p {
    font-size: 16px;
  }
  .navbar-link {
    font-family: "montserrat";
  }

  a {
    color: black !important;
  }
  .navbar {
    width: 50%;
    margin: 0px;
  }
  .testimonial {
    justify-content: space-evenly;
    padding: 10px;
  }
  .testi-boxes {
    height: 220px;
    padding: 15px;
    text-align: left;
  }
  .testi-boxes p {
    font-size: 13px;
  }
  .writer-info img {
    width: 50px;
    height: 50px;
    /* display: block; */
  }
  .testi-header {
    font-size: 22px;
  }
  .writer-details {
    text-align: left;
  }
  .writer-details h6 {
    font-size: 14px;
  }
  .writer-details p {
    font-size: 11px;
  }
  .price-container {
    padding: 15px;
  }
  .lists {
    font-size: 12px;
    padding: 5px 10px;
  }
  .service-type {
    width: 50%;
  }
  .price {
    width: 50%;
  }
  .service-header {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .content h2 {
    font-size: 20px;
  }
  .content p {
    font-size: 14px;
  }
  .issues h4 {
    font-size: 18px;
  }
  .issues p {
    font-size: 14px;
  }
}

@media screen and (max-width: 395px) {
  .content h2 {
    font-size: 30px;
    background-color: #dbdbdb89;
    backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
  }
  .content p {
    font-size: 18px;
    color: white !important;
    background-color: #041562 !important;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .form-container {
    display: none;
  }
  .features-container h2 {
    font-size: 20px;
  }
  .divider {
    margin: 15px auto 7px;
    height: 4px;
  }
  .issues h4 {
    font-size: 16px;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .issues p {
    font-size: 12px;
    padding: 5px;
    line-height: 1.1em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .testi-header {
    font-size: 20px;
    padding: 0 10%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 280px) {
  .content h2 {
    font-size: 20px;
  }
  .content p {
    font-size: 14px;
  }
  .custom-jacks {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .features-container h2 {
    font-size: 20px;
  }
  .testi-header {
    font-size: 16px;
  }
  .form-container {
    display: none;
  }
  .divider {
    margin: 10px auto;
    height: 4px;
  }
  .testi-boxes {
    padding: 8px;
    height: auto;
  }
  .testi-boxes p {
    font-size: 10px;
    line-height: 1.1em;
  }
  .writer-info img {
    width: 25px;
    height: 25px;
  }
  .writer-details h6 {
    font-size: 11px;
  }
  .writer-details p {
    font-size: 8px;
  }
  .service-header {
    font-size: 10px;
  }
  .service-type {
    font-size: 9px;
  }
}
