.main-nav-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  display: flex;
}

.logo {
  width: 50%;
  display: flex;
  column-gap: 10px;
  padding-left: 20px;
  align-items: center;
}

.logo h1 {
  font-size: 10px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  color: #041562;
  margin-left: 1rem;
  font-family: poppins;
  margin: 0px;
}
.logo img {
  width: 324px;
  height: 60px;
}

.navbar {
  width: 50%;
  padding: 0px !important;
  display: flex;
  z-index: 1000;
  justify-content: center;
}

.unvisible-nav {
  width: 100%;
}
.nav-container {
  display: flex;
  margin: 0px;
  width: 100%;
  column-gap: 20px;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  padding-right: 50px;
}

.navbar-link {
  /* color: #041562; */
  color: #da1212;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  padding: 5px 10px !important;
  transition: all 0.5s ease !important;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  position: relative;
  z-index: 1000;
  /* border-radius: 1em;
      background-color: rgba(255, 255, 255, 0.385);
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px); */
}

.navbar-link:hover {
  cursor: pointer;
}

@keyframes rise {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
