* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.main-nav-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  display: flex;
}

.logo {
  width: 50%;
  display: flex;
  column-gap: 10px;
  padding-left: 20px;
  align-items: center;
}

.logo h1 {
  font-size: 10px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  color: #041562;
  margin-left: 1rem;
  font-family: poppins;
  margin: 0px;
}
.logo img {
  width: 324px;
  height: 60px;
}

.navbar {
  width: 50%;
  padding: 0px !important;
  display: flex;
  z-index: 1000;
  justify-content: center;
}

.unvisible-nav {
  width: 100%;
}
.nav-container {
  display: flex;
  margin: 0px;
  width: 100%;
  column-gap: 20px;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  padding-right: 50px;
}

.navbar-link {
  /* color: #041562; */
  color: #da1212;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  padding: 5px 10px !important;
  transition: all 0.5s ease !important;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  position: relative;
  z-index: 1000;
  /* border-radius: 1em;
      background-color: rgba(255, 255, 255, 0.385);
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px); */
}

.navbar-link a {
  text-decoration: none;
  color: #da1212;
}

.navbar-link:hover {
  cursor: pointer;
}

@keyframes rise {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Toggle bar which becomes x which clicked */
.wrong-nav {
  width: 25px;
  height: 25px;
  display: none;
}
.rotating-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-lines {
  width: 100%;
  height: 3px;
  background-color: #041562;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Toggle Bar when Clicked */
.rotating-box.active {
  position: relative;
}
.special-button {
  display: none;
}
.rotating-box.active .nav-lines:nth-child(1) {
  transform: rotate(-45deg);
  position: absolute;
}

.rotating-box.active .nav-lines:nth-child(2) {
  display: none;
}

.rotating-box.active .nav-lines:nth-child(3) {
  transform: rotate(45deg);
  position: absolute;
}

.image-container {
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
}

.carousel-item img {
  margin: auto !important;
  height: 500px;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  box-sizing: border-box;
}
.Main-header {
  font-size: 40px;
  color: #da1212;
  font-weight: 600;
  font-family: poppins;
  margin: auto;
  margin-bottom: 10px;
}

.intro p {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  margin: auto;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #da1212;
}

.Footer-container {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}

.links {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.links .weblinks {
  width: 30%;
  padding: 5%;
  padding-top: 15px;
  padding-bottom: 0px;
}

.weblinks ul {
  padding: 0px;
}

.weblinks li {
  list-style: none;
}

.weblinks li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "poppins";
}
.social-media-links {
  display: flex;
  justify-content: flex-start;
  padding-right: 0 !important;
  flex-direction: column;
  width: 100%;
  width: 30%;
  padding: 5%;
  padding-top: 15px;
  padding-bottom: 0px;
  justify-content: space-around;
}

.links .social-icons div {
  width: 100%;
}

.social-icons {
  width: 100%;
  display: flex;
  align-items: center;
}
.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.social-icons p {
  font-family: "poppins";
  font-size: 14px;
  color: white;
  margin: 0px;
}

.info {
  width: 30%;
  padding: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  padding-right: 6%;
}
.footer-logo img {
  width: 270px;
  height: 50px;
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 0px;
  font-size: 16px;
  font-family: Poppins;
  color: white;
}

@media screen and (max-width: 980px) {
  .social-media-links {
    justify-content: space-evenly;
  }
  .footer-logo img {
    width: 189px;
    height: 35px;
  }
  .info p {
    font-size: 14px;
    text-align: center;
  }
  .info {
    padding-top: 30px;
    padding-right: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .Footer-container {
    display: block;
  }
  .links {
    width: 100%;
    flex-wrap: wrap;
  }
  .links .weblinks {
    width: 50%;
  }
  .social-media-links {
    width: 100%;
    flex-direction: row;
    justify-content: space-around !important;
    padding: 10px 20px !important;
  }
  .social-icons {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .info {
    padding-top: 0px;
    width: 100%;
    align-items: center !important;
    padding: 20px !important;
    padding-top: 0px !important;
  }
  .weblinks li {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .weblinks li {
    text-align: left;
  }

  .weblinks li a {
    color: white !important;
  }
  .social-icons {
    margin-bottom: 5px;
  }
  .info p {
    text-align: center !important;
  }
}

@media screen and (max-width: 1080px) {
  .nav-container {
    box-sizing: border-box;
    padding-right: 10px;
  }
  .logo img {
    width: 243px;
    height: 45px;
    padding: 10px 0;
  }
  .Main-header {
    font-size: 25px;
  }
  .intro p {
    font-size: 15px;
  }
  .intro {
    padding: auto 20px;
  }
}

@media screen and (max-width: 740px) {
  .navbar-link {
    display: none;
  }
  .wrong-nav {
    display: block;
    margin-right: 10px;
    cursor: pointer;
  }
  .nav-container.active {
    padding-right: 20px;
    width: 100%;
    background-color: white;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-top: 10px;
    padding: 20px;
  }

  .nav-container {
    width: 100%;
    padding-right: 20px;
  }

  .wrong-nav {
    display: block;
  }

  .nav-container.active .wrong-nav {
    position: absolute;
    top: 0;
    right: 10px;
  }
  .navbar-link {
    display: none;
    padding-left: 0px !important;
    width: 100%;
  }

  .navbar.active {
    width: 60% !important;
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: white;
  }

  .main-nav-container.sidenav {
    height: 100%;
    padding: 0px;
    width: 100% !important;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .nav-container.active .navbar-link:nth-child(1) {
    margin-top: 60px;
  }
  .nav-container.active .navbar-link {
    display: block;
    color: black;
    border-bottom: 2.4px solid transparent;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    align-self: flex-start;
    font-size: 15px;
    font-weight: 500;
  }

  .nav-container.active .navbar-link a {
    color: black;
  }

  .nav-container.active .navbar-link:hover,
  .nav-container.active .navbar-link:focus {
    border-bottom: 2.4px solid #da1212;
  }
}

@media screen and (max-width: 585px) {
  .main-nav-container {
    padding-top: 0px;
  }
  .logo img {
    width: 189px;
    height: 35px;
    box-sizing: content-box;
  }
  .logo {
    padding-left: 10px;
  }
  .nav-container {
    padding-right: 10px;
  }
  .Main-header {
    font-size: 19px;
    font-weight: 600;
  }
  .intro p {
    font-size: 13px;
  }

  .intro {
    padding: auto 10px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    padding-left: 7px;
  }
  .logo img {
    box-sizing: border-box;
    width: 189px;
    height: 35px !important;
    padding: 0px;
    margin-top: 5px;
  }
}
